:root {
  --primary-color: #FFFFFF;
  --secondary-color: #33B667;
  --text-color: #000000;
  --border-primary: #DDDDDD;

  font-family: 'Inter', sans-serif;
  line-height: 1.2;
  font-weight: 400;

  text-align: center;

  color: var(--text-color);
  background-color: var(--primary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
